.control-label {
    font-weight: bold;
}

.mr-5 {
    margin-right: 5px;
}

.form-control {
    color: #474c52;
    background-color: #fff;
    background-image: none;
    border: 1px solid #9ba5a8;
}

.panel-body .select2-selection {
    border: 1px solid #9ba5a8;
}

.table>tfoot>tr>th,
.table>thead>tr>th {
    font-weight: bold;
    color: #526069;
}

.btn-link,
.checkbox-inline,
.checkbox label,
.radio-inline,
.radio label,
label {
    font-weight: bold;
}

.voyager .btn.btn-detail {
    background: #800040;
    color: #fff;
    border: 0;
    border-radius: 3px;
    opacity: .9;
}