.control-label {
    font-weight: bold;
}

.mr-5 {
    margin-right: 5px;
}

.form-control {
    color: #474c52;
    background-color: #fff;
    background-image: none;
    border: 1px solid #9ba5a8;
}

.panel-body .select2-selection {
    border: 1px solid #9ba5a8;
}

.table>tfoot>tr>th,
.table>thead>tr>th {
    font-weight: bold;
    color: #526069;
}

.btn-link,
.checkbox-inline,
.checkbox label,
.radio-inline,
.radio label,
label {
    font-weight: bold;
}

.voyager .btn.btn-detail {
    background: #800040;
    color: #fff;
    border: 0;
    border-radius: 3px;
    opacity: .9;
}

.tealColor {
    background-color: #20c997;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.blueColor {
    background-color: #3394ff;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.yellowColor {
    background-color: #ffd75e;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.grayColor {
    background-color: #949ca3;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.redColor {
    background-color: #e25c6a;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.cyanColor {
    background-color: #1cc5dd;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.purpleColor {
    background-color: #8059c8;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    margin-bottom: 30px;
}

.card-header-green {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #20c997;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.card-header-red {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #e25c6a;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.card-header-yellow {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffd75e;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card a {
    margin-top: 5px;
}